.fundoFrame {
  
  display: flex;
  justify-content: center;
}
.frame {
  width: 470px;
  height: 637px;
  background-color: #2982b6;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Anton", sans-serif;
  color: #000000;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bolder;
}


