.fundoLogin {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.frame {
    width: 450px;
    height: 550px;
    background-color: #2982b6;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}