.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 7%;
}

.itemform {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.menuPesquisabotao {
  display: flex;
  justify-content: flex-start;
}

.menuPesquisa {
  margin-right: 30px;
  font-size: 15pt;
}
.menubusca {
  display: flex;
}
.inputlogin1 {
  width: 300px;
  height: 25px;
}

/* div da janela de resultados */

.item-buscacliente {
  display: flex;
  justify-content: center;
  height: 75%;
  width: 95%;
  margin: 1px;
  background-color: #fff;
  border: 2px solid #222;
}

/*pesquisa do cliente*/

.statuscliente {
  display: flex;
  font-size: 25px;
  width: 100%;
}

.nomedocliente {
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  padding: 2px;
  background-color: rgba(143, 136, 136, 0.568);
}

.cpfcliente {
  border: 1px solid black;
  padding: 4px;
  background-color: rgba(143, 136, 136, 0.568);
}

.datacliente {
  width: 20%;
  border: 1px solid black;
  padding: 4px;
  background-color: rgba(143, 136, 136, 0.568);
}

.dataTelefone {
  width: 20%;
  border: 1px solid black;
  padding: 4px;
  background-color: rgba(143, 136, 136, 0.568);
}

.dataVeiculos {
  width: 20%;
  border: 1px solid black;
  padding: 4px;
  background-color: rgba(143, 136, 136, 0.568);
}
/* div da janela de resultados */

.resultadocliente {
  margin-top: 2px;
  padding: 10px;
  display: flex;
  font-size: 15pt;
  font-family: arial;
  border: 2px solid black;
}

.stnome {
 width: 45%;
}

/* botão de pesquisa da pagina de clientes */

.opcao1 {
  width: 150px;
  padding: 6px;
  border: 1 solid black;
}

.itemform {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}
