* {
  margin: 0;
  padding: 0;
}

/*barra de cima */
.header-index {
  display: flex;
  background-color: rgb(16, 29, 66);
  height: 85px;
 
  
}
header h2 {
  color: #fff;
  display: flex;
  margin: 0 auto;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  line-height: 85px;
 
}
/*fim da barra de cima*/
/*Menu lateral*/
.menuLateral {
 
  
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
}


.link {
  display: flex;
  justify-content: center;
  padding: 28px;
  font-family: "arial";
  font-size: 20pt;
  transition: all 0.2s linear;
  color: #434343;
  border-bottom: 1px solid #fff;
  background-color: rgb(137, 210, 220);
}

.link:hover {
  background-color: #cccc33;
}

a {
  text-decoration: none;
}


/*fim do menu lateral*/
.item {
  margin: 7px;
  text-align: center;
  font-size: 1.5em;
}

section {
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
}

.Noti{
  display: flex;
}
section {
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
}