.tela {
  width: 450px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 20px;
  border:solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBox{
  display: flex;
  flex-direction: column;
}
.clik{
  background-color: blue;
}

.close{
  padding: 20px;
}

.buttonEnviar{
  padding: 5%;
  margin-top: 15%;
  
}
.formClinte{
  display: flex;
  flex-direction: column;
}