.logoBranca {
  height: 90%;
  width: 27%;
}
.logoIndex {
  width: 250px;
  padding: 4px;
}
.botaoInicial {
  display: flex;
  align-items: stretch;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
