.centro {
  display: flex;
  align-items: center;
  perspective: 1000px;
}
.btn1 {
  cursor: hand;
  border-radius: 15px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #fff;
  color: black;
  font-weight: 900;
  border: none;
  padding: 1em 4em;
  margin: 1em;
  display: flex;
  align-items: center;
  transition: background 0.6s ease-in, transform 0.5s 0.25s ease-in-out;
}
.btn:hover {
  background-color: rgb(211, 219, 91);
  transform: scale(1.2);
  transform: scale(1.2) rotateX(30deg);
}
