.item-status {
    overflow: auto ;
    height: 460px;
    
  }
  .statusservicos {
    height: 40px;
    font-size: 15pt;
    display: flex;
    align-items: center;
  }
  
  .servicosid {
    width: 10%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .servicosStatus {
    width: 14%;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .servicosfuncionario {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .servicosPlaca {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .servicosEntrada {
    width: 20%;
    justify-content: center;
    display: flex;
    align-self: center;
  }
  
  /*status de serviços em andamentos*/
  .statusStatus {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #2982b6;
    border-radius: 10px;
}

.statusStatuspronto {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #14bb1d;
    border-radius: 10px;
}

.statusStatuspeca {
    width: 14%;
    height: 80%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #e0dd2c;
    border-radius: 10px;
}

.statusStatusstrasado {
    width: 14%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #d41919;
    border-radius: 10px;
}
/*Fim - status de serviços em andamentos*/
/*Botão*/
.botaoeditarstaus {
  height: 100%;
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}