/*Menu lateral*/

.menuLateral ul {
  background-color: rgb(16, 29, 66);
  width: 300px;
  transition: all 0.2s linear;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: center;
  padding: 38px;
  font-family: "arial";
  font-size: 20pt;
  transition: all 0.2s linear;
  color: #434343;
  border-bottom: 1px solid #fff;
  background-color: rgb(137, 210, 220);
 
}

.link:hover {
  background-color: #cccc33;
  text-decoration: none;
}

/*fim do menu lateral*/
