.status-label{
    width: 14%;
    height: 80%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
}

.status-label.em_andamento{
    background-color: #2982b6;
}

.status-label.esperando_peca{
    background-color: #e0dd2c;
}

.status-label.pronto{
    background-color: #14d403;
}
.status-label.atrasado{
    background-color: #faf607;
}
.status-label.aguardando{
    background-color:    rgb(250, 207, 13);
}
.status-label{
    background-color: #fff;
}


